*.7z
*.aux
*.bcf
*.glo
*.gls
*.gz
*.hd
*.idx
*.ilg
*.ind
*.log
*.out
*.rar
*.sty
*.sublime-project
*.sublime-workspace
*.synctex
*.synctex(busy)
*.toc
*.txt
*.xml
*.zip
/*.pdf
*.bbl
*.blg
.DS_Store
build
test
